<div class = "container">
	<h2> {{miPortfolio.skills}} </h2>
	<div class="btn-edit" align = "right"> <a href= "#" class= "btn-right"> <i class= "fa fa-pen"></i> </a> </div>
	<div class = "row">
		<div class = "col-2"></div>
		<div class = "col-9">
			<section>
				<article>
					<ul>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto" class="fw-bold"> {{miPortfolio.skills1}} </div>
							<span class="badge bg-primary rounded-pill"> 4/5 </span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto" class="fw-bold"> {{miPortfolio.skills2}} </div>
							<span class="badge bg-primary rounded-pill"> 3/5 </span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto" class="fw-bold"> {{miPortfolio.skills3}} </div>
							<span class="badge bg-primary rounded-pill"> 5/5 </span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto" class="fw-bold"> {{miPortfolio.skills4}} </div>
							<span class="badge bg-primary rounded-pill"> 2/5 </span>
						</li>
						<li class="list-group-item d-flex justify-content-between align-items-start">
							<div class="ms-2 me-auto" class="fw-bold"> {{miPortfolio.skills5}} </div>
							<span class="badge bg-primary rounded-pill"> 5/5 </span>
						</li>
					</ul>
				</article>
			</section>
		</div>
		<div class = "col-1"></div>
	</div>
</div>