<div class = "container">
	<div class = "row">
		<h3> {{miPortfolio.experiencia}} </h3>
		<div class="btn-edit" align = "right"> <a href= "#" class= "btn-right"> <i class= "fa fa-pen"></i> </a> </div>
		<div class = "col-2">
			<aside>
				<div align="center">
					<img src= "./assets/desarrolladorDeAplicaciones_logo.png" class= "profile-background" alt="Desarrollador de aplicaciones" class="img-fluid" class= "profile-image" class="float-start" class="rounded-circle" width="50" height="50" />
				</div> <br>
				<div align="center">
					<img src= "./assets/docenteDeSecundarioTécnico_logo.jpg" class= "profile-background" alt="Docente de Secundario Técnico" class="img-fluid" width="60" height="60" />
				</div> <br>
			</aside>
		</div>
		<div class = "col-9">
			<aside>
				<ul>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					  <div class="fw-bold"> {{miPortfolio.experiencia1bis}} </div>
					  <time> {{miPortfolio.experiencia1}} </time>
					</div>
				</li>
				<li class="list-group-item d-flex justify-content-between align-items-start">
					<div class="ms-2 me-auto">
					  <div class="fw-bold"> {{miPortfolio.experiencia2bis}} </div>
					  <time> {{miPortfolio.experiencia2}} </time>
					</div>
				</li>
				</ul>
			</aside>
		</div>
		<div class = "col-1"></div>
	</div>
</div>